#!/bin/sh

set -e

echo "Waiting for MySQL..."

until mysqladmin ping -h mysql --silent
do
  sleep 2
done

if [ ! -d vendor ]; then
  composer install --no-interaction
fi

php artisan key:generate --force

php artisan migrate --force

exec php-fpm